/.vs
/bin
/NetWeb.Extensions.Data/obj
/NetWeb.Extensions.Hosting/obj
/NetWeb.Extensions.Hosting/obj
/obj
/NetWeb/obj
/NetWeb.Extensions.Data/bin
/NetWeb.Extensions.Data/bin
/NetWeb.Extensions.Data/bin
/NetWeb/obj
/NetWeb/obj
/NetWeb.Extensions.Data/obj
/NetWeb/obj
/NetWeb.Extensions.Hosting/bin
/NetWeb.Extensions.DependencyInjection/obj
/NetWeb.Extensions.DependencyInjection/bin
/NetWeb/bin
